--pre
opensesame-core
rapunzel
opensesame-extension-osweb
opensesame-extension-updater
opensesame-plugin-psychopy
opensesame-plugin-media_player_mpy
psychopy
psychopy_sounddevice
pygame
http://files.cogsci.nl/expyriment-0.10.0+opensesame2-py3-none-any.whl
https://github.com/smathot/PyGaze/releases/download/prerelease%2F0.8.0a3/python_pygaze-0.8.0a3-py3-none-any.whl
psychopy psychopy_sounddevice pygame http://files.cogsci.nl/expyriment-0.10.0+opensesame2-py3-none-any.whl https://github.com/smathot/PyGaze/releases/download/prerelease%2F0.8.0a3/python_pygaze-0.8.0a3-py3-none-any.whl
